.title-image-right {
  width: 100px;
  height: 40px;
}
.title-image {
  width: 50%;
}

.main-text{
  color: white;
  font-weight: bold;
}
.main-text-2{
  color: white;
  font-weight: bold;
  width: 100%;
}
.select1{
  --background: transparent;
}
.select2{
  --background: transparent;
  margin-top: 10%;
}
.alert-card {
  --background: transparent;
  box-shadow: 3px 3px 3px black;
  height: 30%;
}
#glasses {
  margin-top: 2%;
}
